*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-section {
    display: flex;
    justify-content: center;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 2em;
    margin: .5em;
    background-color: purple;
    border-radius: 1em;
    flex: 0 1 40em;

}

.rps-btn {
    padding: .2em .5em;
    font-size: 1.5rem;
    flex: 0 1 6em;
    background-color: orange;
    border: .2em solid orange;
    border-radius: .5em;
    color: black;
}

.rps-btn:hover,
.rps-btn:active {
    color: orange;
    font-weight: bold;
    background-color: transparent;
}
